<v-container class="search-listings">
    <h2>Zoek een vriendschappelijke wedstrijd</h2>
    <v-form>
        <v-row>
            <v-col>
                <location-select v-model="queryModel.region" location-type="region" ref="locationSelect">
                </location-select>
            </v-col>
            <v-col>
                <v-text-field v-model="queryModel.level" label="Niveau" type="number" min="1"
                    :max="queryModel.lowestPossibleLevel">
            </v-col>
            <v-col class="d-flex align-center">
                <v-btn @click="queryModel.clear()" icon>
                    <v-icon>clear</v-icon>
                </v-btn>
            </v-col>
        </v-row>
        </v-text-field>
    </v-form>

    <h2>{{ listings.length }} wedstrijd{{ listings.length !== 1 ? "en" : "" }} gevonden</h2>

    <search-listing-result v-for="listing in sortedListings" :key="listing.id" :listing="listing"></search-listing-result>
</v-container>