<form @submit="submit" class="container">
    <h2>Mijn Team</h2>
    <form-element label="Naam">
        <input id="teamName" v-model="model.name" required>
    </form-element>
    <location-select v-model="model.gymId" ref="locationSelect" @region-changed="model.onRegionChanged(...arguments)"
        gym-label="Thuisbasis"></location-select>
    <form-element label="Niveau">
        <input id="level" type="number" required v-model="model.level" min="1" :max="model.lowestPossibleLevel">
    </form-element>
    <div class="warning">
        Gelieve alle velden correct in te vullen.
    </div>
    <button type="submit">Bewaren</button>
</form>