<div>
    <form-element :label="regionLabel">
        <select v-model="region" id="region">
            <option :value="null" :disabled="region !== null">Kies een regio ...</option>
            <option v-for="region in regions" :value="region">{{ region.name }}</option>
        </select>
    </form-element>
    <template v-if="locationType === 'gym'">
        <form-element :label="gymLabel">
            <select id="gym" v-model="gym" required>
                <option :value="null" :disabled="gym !== null">Kies een sportzaal ...</option>
                <option v-for="gym in gyms" :value="gym">{{ gym.name }}</option>
            </select>
        </form-element>
    </template>
</div>