.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .divider {
        text-align: center;
        margin: 25px;
    }

    button {
        background: transparent;
        border: 3px solid rgb(var(--primary-color));
        border-radius: 5px;
        padding: 15px;
        margin: 25px 0;
        width: 400px;
        height: 400px;
        font-size: var(--primary-font-size);
        transition: all 0.5s;

        .action-detail {
            display: block;
            color: #999999;
            font-size: var(--secondary-font-size);
        }

        &:hover {
            background-color: rgb(var(--primary-color));
            color: white;

            .action-detail {
                color: #cccccc;
            }
        }
    }
}
