<v-app>
    <v-app-bar app color="primary" class="navigation-bar">
        <router-link to="/" tag="v-toolbar-title" class="logo">LZV Match Maker</router-link>

        <v-spacer></v-spacer>

        <template v-if="isLoggedIn">

        <v-btn text to="/team">
            <v-icon left>people</v-icon> Mijn team
        </v-btn>

        <v-btn text @click="logout">
            <v-icon left>exit_to_app</v-icon> Afmelden
        </v-btn>
        </template>
        <template v-else>
            <a href="https://localhost:8443/auth"><v-icon>login</v-icon></a>
        </template>
    </v-app-bar>

    <v-main>
        <v-container fluid>
            <div v-if="isLoggedIn">
                <router-view></router-view>
            </div>
            <div v-else class="welcome">
                <h1>Welkom bij LZV Match Maker!</h1>
            </div>
        </v-container>
    </v-main>
</v-app>