<v-form v-model="model.valid">
    Wij, {{team.name}}, zoeken een tegenstander voor een vriendschappelijke wedstrijd
    <date-time-picker v-model="model.date"></date-time-picker>
    <location-select v-model="model.gym" ref="locationSelect" @region-changed="model.onRegionChanged(...arguments)"
        region-label="te regio" gym-label="in sportzaal"></location-select>
    <v-range-slider label="Niveau liefst tussen" v-model="model.levelRange" min="1" :max="model.lowestPossibleLevel"
        thumb-label="always"></v-range-slider>

    <v-btn :disabled="!model.valid" @click="create">Plaats</v-btn>
</v-form>