<v-container>
    <v-form v-model="model.valid">
    <v-row>
        <v-col>
                Wij, {{team.name}}, zoeken een tegenstander voor een vriendschappelijke wedstrijd
                <date-time-picker v-model="model.date"></date-time-picker>
                <location-select v-model="model.gym" ref="locationSelect" required
                    @region-changed="model.onRegionChanged(...arguments)" region-label="te regio"
                    gym-label="in sportzaal"></location-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-range-slider label="Niveau liefst tussen" v-model="model.levelRange" min="1"
                    :max="model.lowestPossibleLevel" thumb-label="always"></v-range-slider>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn :disabled="!model.valid" @click="create" class="accent">Plaats</v-btn>
                </v-col>
            </v-row>
    </v-form>
</v-container>