<div>
    <v-menu ref="dateMenu" v-model="dateMenuOpen" :close-on-content-click="false" :return-value.sync="date"
        transition="scale-transition" offset-y min-width="290px">
        <template v-slot:activator="{ on, attrs }">
            <v-text-field v-model="date" label="Op" prepend-icon="event" readonly v-bind="attrs" v-on="on">
            </v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable @click:date="$refs.dateMenu.save(date)" :min="today"
            first-day-of-week="1" locale="nl-BE">
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="dateMenuOpen = false">Annuleren</v-btn>
        </v-date-picker>
    </v-menu>
    <v-menu ref="timeMenu" v-model="timeMenuOpen" :close-on-content-click="false" :return-value.sync="time"
        transition="scale-transition" offset-y min-width="290px">
        <template v-slot:activator="{ on, attrs }">
            <v-text-field v-model="time" label="Om" prepend-icon="schedule" readonly v-bind="attrs" v-on="on">
            </v-text-field>
        </template>
        <v-time-picker v-model="time" format="24hr" min="18:00" max="22:00" :allowed-minutes="[0,30]"
            @change="$refs.timeMenu.save(time)"></v-time-picker>
    </v-menu>
</div>